TODO: Some words contain multiple times in csv file. Need to remove redundant words

In [12]:
import pandas as pd
csv_test = pd.read_csv('Word lists in csv/Aword.csv', sep=', ', engine='python')

In [13]:
csv_test.shape

(11615, 1)

In [15]:
csv_test

             a
0            a
1            a
2            a
3            a
4            a
...        ...
11610     azym
11611    azyme
11612   azymic
11613  azymite
11614  azymous

[11615 rows x 1 columns]